$background: coral;

$bg-timer: white;
$color-timer: black;

$white-field: white;
$white-field-text: #e6e6e6;

$black-field: gray;
$black-field-text: #999999;

$figure-selected: goldenrod;
$figure-hover: rgb(107, 82, 19);